# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db

# Firebase
.firebase
*-debug.log
.runtimeconfig.json
.firebase/
apps\functions\lib\*
apps/functions/lib/index.js
apps/functions/lib/apps/functions/src/index.js
apps/functions/lib/apps/functions/src/repositories/firebasePatientRepository.js
apps/functions/lib/apps/functions/src/repositories/firebasePrescriptionRepository.js
apps/functions/lib/apps/functions/src/repositories/firebaseStaffRepository.js
apps/functions/lib/auth/onCreate.js
apps/functions/lib/controllers/appointmentController.js
apps/functions/lib/controllers/appointmentRoutes.js
apps/functions/lib/controllers/billingController.js
apps/functions/lib/controllers/billingRoutes.js
apps/functions/lib/controllers/communicationController.js
apps/functions/lib/controllers/communicationRoutes.js
apps/functions/lib/controllers/index.js
apps/functions/lib/controllers/patientController.js
apps/functions/lib/controllers/prescriptionController.js
apps/functions/lib/controllers/prescriptionPrintoutController.js
apps/functions/lib/controllers/prescriptionPrintoutRoutes.js
apps/functions/lib/controllers/prescriptionRoutes.js
apps/functions/lib/controllers/sharePrescriptionController.js
apps/functions/lib/controllers/sharePrescriptionRoutes.js
apps/functions/lib/controllers/staffController.js
apps/functions/lib/controllers/staffRoutes.js
apps/functions/lib/middleware/authMiddleware.js
apps/functions/lib/repositories/firebaseAppointmentRepository.js
apps/functions/lib/repositories/firebaseBillingRepository.js
apps/functions/lib/repositories/firebaseHospitalRepository.js
apps/functions/lib/repositories/firebasePatientRepository.js
apps/functions/lib/repositories/firebasePrescriptionRepository.js
apps/functions/lib/repositories/firebaseStaffRepository.js
apps/functions/lib/repositories/index.js
apps/functions/lib/src/index.js
apps/functions/lib/src/auth/onCreate.js
apps/functions/lib/src/controllers/appointmentController.js
apps/functions/lib/src/controllers/appointmentRoutes.js
apps/functions/lib/src/controllers/billingController.js
apps/functions/lib/src/controllers/billingRoutes.js
apps/functions/lib/src/controllers/communicationController.js
apps/functions/lib/src/controllers/communicationRoutes.js
apps/functions/lib/src/controllers/index.js
apps/functions/lib/src/controllers/patientController.js
apps/functions/lib/src/controllers/prescriptionController.js
apps/functions/lib/src/controllers/prescriptionPrintoutController.js
apps/functions/lib/src/controllers/prescriptionPrintoutRoutes.js
apps/functions/lib/src/controllers/prescriptionRoutes.js
apps/functions/lib/src/controllers/sharePrescriptionController.js
apps/functions/lib/src/controllers/sharePrescriptionRoutes.js
apps/functions/lib/src/controllers/staffController.js
apps/functions/lib/src/controllers/staffRoutes.js
apps/functions/lib/src/middleware/authMiddleware.js
apps/functions/lib/src/repositories/firebaseAppointmentRepository.js
apps/functions/lib/src/repositories/firebaseBillingRepository.js
apps/functions/lib/src/repositories/firebaseHospitalRepository.js
apps/functions/lib/src/repositories/firebasePatientRepository.js
apps/functions/lib/src/repositories/firebasePrescriptionRepository.js
apps/functions/lib/src/repositories/firebaseStaffRepository.js
apps/functions/lib/src/repositories/index.js
apps/functions/lib/src/staff/onStaffCreate.js
apps/functions/lib/staff/onStaffCreate.js
apps/functions/firebase-debug.log
