<form [formGroup]="form" (ngSubmit)="onSubmit()" class="dynamic-form">
  <h2 *ngIf="formTitle">{{ formTitle }}</h2>
  
  <div class="form-grid">
    <div *ngFor="let field of formFields" [class.hidden]="!shouldDisplay(field)" class="form-field">
      <label [for]="field.name">{{ field.label }}</label>
      
      <ng-container [ngSwitch]="field.type">
        <input *ngSwitchCase="'text'" [type]="field.type" [id]="field.name" [formControlName]="field.name" [required]="field.required">
        <input *ngSwitchCase="'email'" [type]="field.type" [id]="field.name" [formControlName]="field.name" [required]="field.required">
        <input *ngSwitchCase="'password'" [type]="field.type" [id]="field.name" [formControlName]="field.name" [required]="field.required">
        <input *ngSwitchCase="'date'" [type]="field.type" [id]="field.name" [formControlName]="field.name">
        <input *ngSwitchCase="'phone'" type="tel" [id]="field.name" [formControlName]="field.name">
        
        <select *ngSwitchCase="'select'" [id]="field.name" [formControlName]="field.name">
          <option *ngFor="let option of field.options" [value]="option.value">{{ option.label }}</option>
        </select>
        
        <textarea *ngSwitchCase="'textarea'" [id]="field.name" [formControlName]="field.name" rows="4"></textarea>
      </ng-container>

      <div *ngIf="getControl(field.name)?.invalid && (getControl(field.name)?.dirty || getControl(field.name)?.touched)" class="error-message">
        <div *ngIf="getControl(field.name)?.errors?.['required']">{{ field.label }} is required.</div>
        <div *ngIf="getControl(field.name)?.errors?.['email']">Please enter a valid email.</div>
        <div *ngIf="getControl(field.name)?.errors?.['pattern']">Invalid format.</div>
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="form.invalid">{{ submitButtonText }}</button>
  
  <div *ngIf="showSuccess" class="success-message">Form submitted successfully!</div>
</form>
