.registration-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
}

.form-section {
  margin-bottom: 2rem;
}

.form-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-field {
  flex: 1;
}

::ng-deep .mat-mdc-form-field-flex {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}


@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
    gap: 0;
  }
}
