.sidenav-container {
  height: 100vh;
  width: 100%;
  display: flex;
}

.main-content {
  overflow-y: auto;
  padding: 24px;
}

mat-sidenav {
  width: 250px;
}

mat-sidenav-content {
  flex-grow: 1;
  overflow-y: auto;
}
