.chart-card {
  width: 100%;
  height: 100%;
}

mat-card-header {
  display: flex;
  justify-content: center;
  padding: 16px;
}

mat-card-title {
  font-size: 18px;
  font-weight: 500;
}

mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 64px); /* Adjust based on header height */
}
